<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img src="/home/static/home/photos/logo.png" class="logo" />
      <div class="header-items">
        <div>خانه</div>
        <div>مستندات</div>
        <div>راهنمای نرم افزار</div>
        <div>دانلود نرم افزار</div>
      </div>
    </header>
    <div
      class="h-full w-[80%] flex flex-col gap-4 border border-gray-300 mt-5 mx-12 p-5 rounded-lg"
    >
      <div class="grid grid-cols-3 gap-4 border-b-2 h-full w-full pb-7">
        <div class="flex flex-col gap-5 col-span-2">
          <h1 class="text-xl">Title</h1>
          <p class="text-sm">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit iusto
            temporibus ipsa incidunt fugit eum in asperiores consectetur
            cupiditate. Soluta quae maxime odit consectetur sapiente ipsum,
            illum ab vitae animi! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Porro, dignissimos, corrupti nostrum aspernatur
            delectus facilis labore maxime nobis laborum explicabo ut distinctio
            ipsam placeat voluptatibus reprehenderit, inventore culpa pariatur
            non. lore illum ab vitae animi! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Porro, dignissimos, corrupti nostrum
            aspernatur delectus facilis labore maxime nobis laborum explicabo ut
            distinctio ipsam placeat voluptatibus reprehenderit, inventore culpa
            pariatur non. lore illum ab vitae animi! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Porro, dignissimos, corrupti nostrum
            aspernatur delectus facilis labore maxime nobis laborum explicabo ut
            distinctio ipsam placeat voluptatibus reprehenderit, inventore culpa
            pariatur non. lore illum ab vitae animi! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Porro, dignissimos, corrupti nostrum
            aspernatur delectus facilis labore maxime nobis laborum explicabo ut
            distinctio ipsam placeat voluptatibus reprehenderit, inventore culpa
            pariatur non. lore
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <img
            src="/home/static/home/photos/Kourosh.jpg"
            class="rounded-lg w-full h-[240px] shadow-lg"
          />
          <div class="flex justify-between">
            <span class="bg-[#33c1c3] text-sm rounded-full px-3 py-1"
              >1402/08/17</span
            >
            <div>
              <span>5 </span><i class="fa-solid fa-eye text-gray-400"></i>
            </div>
          </div>
        </div>
      </div>
      <h1 class="mr-5 border-r-4 border-[#33c1c3] pr-2">تصاویر</h1>
      <div class="flex gap-10 mr-5">
        <div
          class="flex flex-col gap-1 w-1/5 border p-3 rounded-lg border-gray-300"
        >
          <img src="/home/static/home/photos/Peydayesh.jpg" class="rounded-lg shadow-lg" />
          <p class="text-xs">Lorem ipsum dolor sit amet</p>
        </div>
        <div
          class="flex flex-col gap-1 w-1/5 border p-3 rounded-lg border-gray-300"
        >
          <img src="/home/static/home/photos/Kourosh.jpg" class="rounded-lg shadow-lg" />
          <p class="text-xs">Lorem ipsum dolor sit amet</p>
        </div>
        <div
          class="flex flex-col gap-1 w-1/5 border p-3 rounded-lg border-gray-300"
        >
          <img src="/home/static/home/photos/Peydayesh.jpg" class="rounded-lg shadow-lg" />
          <p class="text-xs">Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
  </body>
</html>
