<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>info page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img src="/home/static/home/photos/logo.png" class="logo" />
      <div class="header-items">
        <div>خانه</div>
        <div>مستندات</div>
        <div>راهنمای نرم افزار</div>
        <div>دانلود نرم افزار</div>
      </div>
    </header>
    <div
      class="h-full w-[80%] flex flex-col gap-4 border border-gray-300 mt-5 mx-12 p-5 rounded-lg"
    >
      <table>
        <tr>
          <th>کارمندان</th>
          <th>موقعیت شغلی</th>
          <th>تاریخ تولد</th>
          <th>ایمیل</th>
          <th>تلفن داخلی</th>
        </tr>
        <tr>
          <td>زهرا رضایی</td>
          <td>data science</td>
          <td>1365/3/10</td>
          <td>zahra@gmail.com</td>
          <td>988708</td>
        </tr>
        <tr>
          <td>محمد محمدی</td>
          <td>ceo</td>
          <td>1372/4/12</td>
          <td>mohammad@gmail.com</td>
          <td>767240</td>
        </tr>
        <tr>
          <td>محمد محمدی</td>
          <td>ceo</td>
          <td>1372/4/12</td>
          <td>mohammad@gmail.com</td>
          <td>767240</td>
        </tr>
        <tr>
          <td>محمد محمدی</td>
          <td>ceo</td>
          <td>1372/4/12</td>
          <td>mohammad@gmail.com</td>
          <td>767240</td>
        </tr>
      </table>
    </div>
  </body>
</html>
